.cardBoxList {
  width: 100%;
  padding-bottom: 2rem;
  --swiper-pagination-bullet-inactive-color: var(--color-accent);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-color: var(--color-foreground);
}

.slide {
  max-width: 18.75rem;
}
