.bold {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
