:root {
  --grid-column-count: 4;
  --grid-column-count-2col: 1;
  --grid-column-count-3col: 1;
  --grid-gap: 2.5rem;
}

@media screen and (min-width: 600px) {
  :root {
    --grid-column-count: 12;
    --grid-column-count-2col: 6;
    --grid-column-count-3col: 4;
    --grid-gap: 0.375rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --grid-gap: 1.25rem;
  }
}

.dd-grid {
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
}

.dd-grid > * {
  grid-column: span var(--grid-column-count);
}

.dd-grid.dd-grid--2col > * {
  grid-column: span var(--grid-column-count-2col);
}

.dd-grid.dd-grid--3col > * {
  grid-column: span var(--grid-column-count-3col);
}
