body .testimonials {
  --swiper-pagination-bullet-inactive-color: var(--color-accent);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-color: var(--color-foreground);
  padding-bottom: 2rem;
}

.testimonials > * {
  align-items: center;
}

body .testimonials :global(.swiper-pagination) {
  bottom: -4px;
}

.testimonial {
}

.testimonial q {
  display: inline-block;
}

.testimonial blockquote {
  font-size: 200%;
}
